In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('data/2011~2019_players.txt', sep = "\t")

In [4]:
data.columns = ['c1']
data = data[data['c1'].str.contains('-')]
data

                                                   c1
1                 더스틴 니퍼트 - Dustin Nippert (2011, 두산)
2           -----------------------------------------
4   크리스 세든 - Chris Seddon, Christopher Jon Seddon ...
5             다나 이브랜드 - Dana James Eveland (2012, 한화)
6                       헨리 소사 - Henry Sosa (2012, 기아)
..                                                ...
85                라울 알칸타라 - Raul Alcantara (2019, 두산)
86         저스틴 헤일리 - Justin Haley (2019, 삼성, 시즌 중 방출)
87  워윅 서폴드 - Warwick Saupold, Warwick Anthony Saup...
88                 드류 루친스키 - Drew Rucinski (2019, NC)
89         제이크 톰슨 - Jake Thompson (2019, 롯데, 시즌 중 방출)

[81 rows x 1 columns]

In [5]:
print(data['c1'].iloc[0].split('-')[0].strip())
print(data['c1'].iloc[0].split('-')[1].strip().split('(')[0].split(',')[0].lower().strip())
print(data['c1'].iloc[0].split('(')[-1][:-1].split(',')[0].strip())
print(data['c1'].iloc[0].split('(')[-1][:-1].split(',')[1].strip())
#data['c1'].iloc[0].split('(')[-1][:-1]

더스틴 니퍼트
dustin nippert
2011
두산

In [6]:
# for x in data['c1']:
#     #print(x)
#     print(x.split('(')[-1][:-1].split(',')[-1].strip())

In [7]:
def kor(x):
    k_name = x.split('-')[0].strip()
    return k_name
def eng(x):
    name = x.split('-')[1]
    return name.split('(')[0].split(',')[0].lower().strip()
def team(x):
    return x.split('(')[-1][:-1].split(',')[-1].strip()
def get_end_dt(x):
    year = x.split('(')[-1][:-1].split(',')[0].strip()
    try:
        return f'{int(year)-1}-12-31'
    except:
        return year
def release_status(x):
    return 1 if '방출' in x else 0
    
data['kor_name'] = data['c1'].apply(kor)
data['eng_name'] = data['c1'].apply(eng)
data['team'] = data['c1'].apply(team)
data['release'] = data['c1'].apply(release_status)
data['end_dt'] = data['c1'].apply(get_end_dt)
data

,c1,kor_name,eng_name,team,release,end_dt
1,"더스틴 니퍼트 - Dustin Nippert (2011, 두산)",더스틴 니퍼트,dustin nippert,두산,0,2010-12-31
2,-----------------------------------------,,,----------------------------------------,0,----------------------------------------
4,"크리스 세든 - Chris Seddon, Christopher Jon Seddon ...",크리스 세든,chris seddon,sk,0,2011-12-31
5,"다나 이브랜드 - Dana James Eveland (2012, 한화)",다나 이브랜드,dana james eveland,한화,0,2011-12-31
6,"헨리 소사 - Henry Sosa (2012, 기아)",헨리 소사,henry sosa,기아,0,2011-12-31
...,...,...,...,...,...,...
85,"라울 알칸타라 - Raul Alcantara (2019, 두산)",라울 알칸타라,raul alcantara,두산,0,2018-12-31
86,"저스틴 헤일리 - Justin Haley (2019, 삼성, 시즌 중 방출)",저스틴 헤일리,justin haley,시즌 중 방출,1,2018-12-31
87,"워윅 서폴드 - Warwick Saupold, Warwick Anthony Saup...",워윅 서폴드,warwick saupold,한화,0,2018-12-31
88,"드류 루친스키 - Drew Rucinski (2019, NC)",드류 루친스키,drew rucinski,NC,0,2018-12-31
89,"제이크 톰슨 - Jake Thompson (2019, 롯데, 시즌 중 방출)",제이크 톰슨,jake thompson,시즌 중 방출,1,2018-12-31

In [8]:
data = data[data['kor_name']!='']
data = data.drop('c1',axis=1)
data.reset_index(inplace=True,drop=True)
data

   kor_name            eng_name     team  release      end_dt
0   더스틴 니퍼트      dustin nippert       두산        0  2010-12-31
1    크리스 세든        chris seddon       sk        0  2011-12-31
2   다나 이브랜드  dana james eveland       한화        0  2011-12-31
3     헨리 소사          henry sosa       기아        0  2011-12-31
4     아담 윌크    adam robert wilk       NC        0  2011-12-31
..      ...                 ...      ...      ...         ...
68  라울 알칸타라      raul alcantara       두산        0  2018-12-31
69  저스틴 헤일리        justin haley  시즌 중 방출        1  2018-12-31
70   워윅 서폴드     warwick saupold       한화        0  2018-12-31
71  드류 루친스키       drew rucinski       NC        0  2018-12-31
72   제이크 톰슨       jake thompson  시즌 중 방출        1  2018-12-31

[73 rows x 5 columns]

In [9]:
data[:35]

     kor_name                eng_name     team  release      end_dt
0     더스틴 니퍼트          dustin nippert       두산        0  2010-12-31
1      크리스 세든            chris seddon       sk        0  2011-12-31
2     다나 이브랜드      dana james eveland       한화        0  2011-12-31
3       헨리 소사              henry sosa       기아        0  2011-12-31
4       아담 윌크        adam robert wilk       NC        0  2011-12-31
5    하이로 어센시오           jairo asencio       기아        0  2012-12-31
6     조조 레이예스                      jo       sk        0  2012-12-31
7       개릿 올슨           garrett olson  시즌 중 방출        1  2012-12-31
8       에릭 해커        eric lynn hacker       NC        0  2012-12-31
9      릭 밴덴헐크         rick vandenhurk       삼성        0  2012-12-31
10      태드 웨버           thad g. weber       NC        0  2012-12-31
11      로스 울프               ross wolf       sk        0  2013-12-31
12     루카스 하렐           lucas harrell       엘지        0  2013-12-31
13   알프레도 피가로          alfredo figaro       삼성        0  2013-12-31
14    앤드류 앨버스           andrew albers       한화        0  2013-12-31
15     미치 탈보트            mitch talbot       한화        0  2013-12-31
16   라이언 피어밴드  ryan robert feierabend       넥센        0  2013-12-31
17    조쉬 린드블럼           josh lindblom       롯데        0  2013-12-31
18   크리스 볼스테드           chris volstad  시즌 중 방출        1  2013-12-31
19      필립 험버           philip humber  시즌 중 방출        1  2013-12-31
20    저스틴 토마스           justin thomas       기아        0  2013-12-31
21    유네스키 마야            yunesky maya  시즌 중 방출        1  2013-12-31
22    에버렛 티포드   everett james teaford       엘지        0  2013-12-31
23       필 어윈              phil irwin  시즌 중 방출        1  2013-12-31
24    로버트 코엘로           robert coello  시즌 중 방출        1  2014-12-31
25       에반 믹               evan meek       기아        0  2014-12-31
26    앤서니 스와잭     anthony ray swarzak       두산        0  2014-12-31
27      요한 피노              yohan pino  시즌 중 방출        1  2014-12-31
28    마이클 보우덴  michael matthew bowden       두산        0  2014-12-31
29     조쉬 스틴슨            josh stinson       기아        0  2014-12-31
30  슈가 레이 마리몬       sugar ray marimon  시즌 중 방출        1  2014-12-31
31   타일러 클로이드             tyler cloyd       삼성        0  2014-12-31
32    브룩스 레일리            brooks raley       롯데        0  2014-12-31
33    데이비드 허프      david gregory huff       엘지        0  2015-12-31
34     헥터 노에시            hector noesi       기아        0  2015-12-31

In [32]:
# data.to_csv('players_list_2011~2019.csv',index=False)