In [26]:
import pandas as pd

In [27]:
data = pd.read_csv('Analysis-of-KBO-Foreign-Pitchers/data/11to22_players_list.txt', sep = "\t")

In [28]:
data.columns = ['c1']
data = data[data['c1'].str.contains('-')]
data

                                                    c1
1                  더스틴 니퍼트 - Dustin Nippert (2011, 두산)
2              페르난도 - Fernando Alexis Nieve (2011, 두산)
3             트래비스 - Travis Jarrod Blackley (2011, 기아)
4                   리즈 - Radhames Corey Liz (2011, 엘지)
5              주키치 - Benjamin Daniel Jukich (2011, 엘지)
..                                                 ...
169                   찰리 반즈- Charlie Barnes (2022, 롯데)
170    션 놀린- Sean Nolin, Sean Patrick Nolin (2022, 기아)
171  로니 윌리엄스- Ronnie Ellis Williams (2022, 기아, 시즌중 방출)
172                       펠릭스 페냐- Félix Peña(2022, 한화)
173                  예프리 라미레즈- Yefry ramírez(2022, 한화)

[162 rows x 1 columns]

In [29]:
print(data['c1'].iloc[0].split('-')[0].strip())
print(data['c1'].iloc[0].split('-')[1].strip().split('(')[0].split(',')[0].lower().strip())
print(data['c1'].iloc[0].split('(')[-1][:-1].split(',')[0].strip())
print(data['c1'].iloc[0].split('(')[-1][:-1].split(',')[1].strip())
#data['c1'].iloc[0].split('(')[-1][:-1]

더스틴 니퍼트
dustin nippert
2011
두산

In [30]:
# for x in data['c1']:
#     #print(x)
#     print(x.split('(')[-1][:-1].split(',')[-1].strip())

In [31]:
def kor(x):
    k_name = x.split('-')[0].strip()
    return k_name

def eng(x):
    name = x.split('-')[1]
    return name.split('(')[0].lower().strip()

def team(x):
    return x.split('(')[-1][:-1].split(',')[-1].strip()

def get_end_dt(x):
    year = x.split('(')[-1][:-1].split(',')[0].strip()
    try:
        return f'{int(year)-1}-12-31'
    except:
        return year
    
def release_status(x):
    return 1 if '방출' in x else 0
    
data['kor_name'] = data['c1'].apply(kor)
data['eng_name'] = data['c1'].apply(eng)
data['team'] = data['c1'].apply(team)
data['release'] = data['c1'].apply(release_status)
data['end_dt'] = data['c1'].apply(get_end_dt)
data

,c1,kor_name,eng_name,team,release,end_dt
1,"더스틴 니퍼트 - Dustin Nippert (2011, 두산)",더스틴 니퍼트,dustin nippert,두산,0,2010-12-31
2,"페르난도 - Fernando Alexis Nieve (2011, 두산)",페르난도,fernando alexis nieve,두산,0,2010-12-31
3,"트래비스 - Travis Jarrod Blackley (2011, 기아)",트래비스,travis jarrod blackley,기아,0,2010-12-31
4,"리즈 - Radhames Corey Liz (2011, 엘지)",리즈,radhames corey liz,엘지,0,2010-12-31
5,"주키치 - Benjamin Daniel Jukich (2011, 엘지)",주키치,benjamin daniel jukich,엘지,0,2010-12-31
...,...,...,...,...,...,...
169,"찰리 반즈- Charlie Barnes (2022, 롯데)",찰리 반즈,charlie barnes,롯데,0,2021-12-31
170,"션 놀린- Sean Nolin, Sean Patrick Nolin (2022, 기아)",션 놀린,"sean nolin, sean patrick nolin",기아,0,2021-12-31
171,"로니 윌리엄스- Ronnie Ellis Williams (2022, 기아, 시즌중 방출)",로니 윌리엄스,ronnie ellis williams,시즌중 방출,1,2021-12-31
172,"펠릭스 페냐- Félix Peña(2022, 한화)",펠릭스 페냐,félix peña,한화,0,2021-12-31
173,"예프리 라미레즈- Yefry ramírez(2022, 한화)",예프리 라미레즈,yefry ramírez,한화,0,2021-12-31

In [32]:
data = data[data['kor_name']!='']
data = data.drop('c1',axis=1)
data.reset_index(inplace=True,drop=True)
data

     kor_name                        eng_name    team  release      end_dt
0     더스틴 니퍼트                  dustin nippert      두산        0  2010-12-31
1        페르난도           fernando alexis nieve      두산        0  2010-12-31
2        트래비스          travis jarrod blackley      기아        0  2010-12-31
3          리즈              radhames corey liz      엘지        0  2010-12-31
4         주키치          benjamin daniel jukich      엘지        0  2010-12-31
..        ...                             ...     ...      ...         ...
146     찰리 반즈                  charlie barnes      롯데        0  2021-12-31
147      션 놀린  sean nolin, sean patrick nolin      기아        0  2021-12-31
148   로니 윌리엄스           ronnie ellis williams  시즌중 방출        1  2021-12-31
149    펠릭스 페냐                      félix peña      한화        0  2021-12-31
150  예프리 라미레즈                   yefry ramírez      한화        0  2021-12-31

[151 rows x 5 columns]

In [33]:
data.to_csv('new_data/players_df.csv',index=False)