In [1]:
import pickle
import gzip
import pandas as pd

In [2]:
with gzip.open('new_data/savant_df_zip.pickle','rb') as f:
    svt_df = pickle.load(f)
fan_df = pd.read_csv('new_data/fan_df.csv')
kbo_df = pd.read_csv('new_data/kbo_df.csv')

In [3]:
print(svt_df.shape)
svt_df.head()

(398324, 92)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,FF,2010-10-09,93.0,-1.88,6.90,"Nippert, Dustin",425834,430962,field_out,hit_into_play,...,2,6,2,6,2,NaN,NaN,NaN,0.001,-0.099
1,FF,2010-10-09,95.2,-1.88,6.89,"Nippert, Dustin",150289,430962,home_run,hit_into_play,...,2,6,2,6,2,NaN,NaN,NaN,-0.064,1.811
2,FF,2010-10-09,94.3,-1.87,7.01,"Nippert, Dustin",150289,430962,NaN,foul,...,2,4,2,4,2,NaN,NaN,NaN,0.000,-0.037
3,FF,2010-10-09,94.0,-1.77,6.91,"Nippert, Dustin",150289,430962,NaN,blocked_ball,...,2,4,2,4,2,NaN,NaN,NaN,0.000,0.085
4,FF,2010-10-09,92.8,-1.74,6.88,"Nippert, Dustin",150289,430962,NaN,ball,...,2,4,2,4,2,NaN,NaN,NaN,0.000,0.024

In [4]:
print(fan_df.shape)
fan_df.head()

(458, 430)

,Throws,xMLBAMID,Name,Team,Season,Age,AgeR,SeasonMin,SeasonMax,W,...,HardHit%,Q,TG,TIP,PlayerNameRoute,PlayerName,TeamName,TeamNameAbb,teamid,playerid
0,R,452676,Mitch Talbot,CLE,2010,26,26 - 26,2010,2010,10,...,NaN,0.98354,162.0,159.333344,Mitch Talbot,Mitch Talbot,CLE,CLE,5,4961
1,R,430683,Justin Germano,SDP,2007,24,24 - 24,2007,2007,7,...,NaN,0.81800,163.0,133.333328,Justin Germano,Justin Germano,SDP,SDP,29,1938
2,R,430962,Dustin Nippert,TEX,2009,28,28 - 28,2009,2009,5,...,NaN,0.43004,162.0,69.666689,Dustin Nippert,Dustin Nippert,TEX,TEX,13,4426
3,R,429714,Denny Bautista,KCR,2005,24,24 - 24,2005,2005,2,...,NaN,0.22016,162.0,35.666660,Denny Bautista,Denny Bautista,KCR,KCR,7,1947
4,R,132241,Bryan Corey,- - -,2006,32,32 - 32,2006,2006,2,...,NaN,0.24074,162.0,39.000002,Bryan Corey,Bryan Corey,- - -,2 Tms,0,1439

In [5]:
print(kbo_df.shape)
kbo_df.head()

(214, 33)

,Name,ENG_Name,Season,Team,G,CG,ShO,GS,W,L,...,SO,BK,WP,ERA,FIP,WHIP,ERA+,FIP+,WAR,WPA
0,니퍼트,Dustin Nippert,2011,두,29,2,1,29,15,6,...,150,0,10,2.55,3.33,1.14,160.6,123.0,6.09,NaN
1,리즈,Radhames Liz,2011,L,30,1,0,28,11,13,...,122,1,8,3.88,4.38,1.42,105.7,93.6,2.82,NaN
2,트레비스,Travis Blackley,2011,K,25,1,1,22,7,5,...,115,3,12,3.48,4.25,1.44,118.7,97.3,2.41,NaN
3,고든,Brian Gordon,2011,S,14,0,0,13,6,4,...,70,0,1,3.81,2.81,1.16,107.8,146.2,2.19,NaN
4,저마노,Justin Germano,2011,삼,8,0,0,8,5,1,...,29,0,0,2.78,3.17,1.13,150.1,131.6,1.43,NaN

In [6]:
def change_name(x):
    if ',' in x:
        x = x.split(',')[1].strip()+ ' ' +x.split(',')[0].strip()
    for i,j in zip(['á','é','ñ','ú','í'],['a','e','n','u','i']):
        if i in x:
            x = x.replace(i,j)
    if x == 'Sugar Ray Marimon':
        x = 'Sugar Marimon'
    if x == 'Rick Van Den Hurk':
        x = 'Rick VandenHurk'
    if x == 'Jake Brigham':
        x = 'Jacob Brigham'
    return x

In [7]:
svt_df['player_name'] = svt_df['player_name'].apply(change_name)

In [8]:
svt_name = sorted(svt_df['player_name'].unique())
fan_name = sorted(fan_df['Name'].unique())
for s,f in zip(svt_name,fan_name):
    if s!=f:
        print(s,':',f)

In [9]:
sorted(svt_df['player_name'].unique()) == sorted(fan_df['Name'].unique())
set(svt_df['player_name'].unique()) - set(kbo_df['ENG_Name'].unique())

{'Felix Pena', 'Matt Dermody'}

In [10]:
svt_df = svt_df[~svt_df['player_name'].str.contains('Felix Pena|Matt Dermody')]
fan_df = fan_df[~fan_df['Name'].str.contains('Felix Pena|Matt Dermody')]
print(svt_df.shape)
print(fan_df.shape)

(393078, 92)
(449, 430)

In [11]:
with gzip.open('new_data/svt_df.pickle', 'wb') as f:
    pickle.dump(svt_df, f)
fan_df.to_csv('new_data/fan_df.csv',index=False)